manifest {
    name            = 'Purva-21/AMP-MineFlow'
    author          = 'Purva Gohil'
    homePage        = 'https://github.com/Purva-21/AMP-MineFlow'
    description     = 'Antimicrobial Peptide Mining & Multi-Functional Genome Analysis Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

params {
    max_memory = '16.GB'
    max_cpus   = 8
    max_time   = '24.h'
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }
    docker {
        docker.enabled = true
        process.container = 'purva21/amp-mineflow:1.0.0'
    }
    singularity {
        singularity.enabled = true
        process.container = 'purva21/amp-mineflow:1.0.0'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        process.clusterOptions = '--account=default'
    }
    test {
        params.input = "${projectDir}/test_data/test_assembly.fasta"
        params.outdir = "${projectDir}/test_results"
    }
}

process {
    withLabel: 'process_low' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }
    withLabel: 'process_medium' {
        cpus   = 2
        memory = '4.GB'
        time   = '6.h'
    }
    withLabel: 'process_high' {
        cpus   = 4
        memory = '8.GB'
        time   = '12.h'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}
