/*
 * Base configuration for AMP-MineFlow
 * Applied to all profiles
 */

process {
    errorStrategy = 'retry'
    maxRetries    = 2

    withLabel: 'process_low' {
        cpus   = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
    withLabel: 'process_medium' {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 6.h * task.attempt }
    }
    withLabel: 'process_high' {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }
}

params {
    max_memory = 64.GB
    max_cpus   = 16
    max_time   = 48.h
}
