/*
 * SLURM HPC profile configuration
 */
process {
    executor       = 'slurm'
    queue          = 'normal'
    clusterOptions = '--account=default'

    withLabel: 'process_low' {
        queue = 'short'
    }
    withLabel: 'process_high' {
        queue = 'long'
    }
}

executor {
    queueSize   = 50
    submitRateLimit = '10/1min'
}
